# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg-info/
*.egg

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache & log
.streamlit/


# OS files
.DS_Store
Thumbs.db
